.form {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    background-color: white;
    min-width: 300px;
    grid-gap: 20px
}

.form__hr {
    width: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0;
    padding: 0;
    color: rgba(180, 180, 180, 0.267);
}

.form__label {
    margin: 20px 0 0 20px;
    font-size: 20px;
    background-color: white;
    font-weight: 900;
}

.form__input {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 100%;
    outline-style: none;
}

.form__input:focus {
    outline-style: solid;
}


.form__button {
    margin: 0 20px 20px 20px;
    background-color: teal;
    color: white;
    font-size: 17px;
    white-space: nowrap;
    padding: 10px;
    font-weight: 300;
}

@media(max-width: 767px) {
    
    .form {
        grid-template-columns: 1fr;
    }

    .form__hr {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .form__input {
        width: auto;
        margin: 20px;
    }


}