html {
  box-sizing: border-box;
  background-color: rgba(204, 204, 204, 0.28);
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  align-content: center;
  min-width: 360px;
  padding: 5vh 30vw;
}

.header {
  font-weight: 700;
  min-width: 300px;
  white-space: nowrap;
  display: block;
  overflow: hidden;
}