.taskList {
    background-color: white;
    min-width: 300px;
    padding: 25px 0 10px;
}

.taskList__item {
    display: flex;
    align-items: center;
    list-style: none;
    word-break: break-word;
    margin: 10px 25px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(180, 180, 180, 0.267);
}

.taskList__content {
    font-weight: 500;
    margin-right: 15px;
    width: 100%;
}

.taskList__content--done {
    text-decoration: line-through;
}

.taskList__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 20px;
    max-width: 32px;
    padding: 8px;
    aspect-ratio: 1;
    background-color: green;
    color: green;
    margin: 0 10px;
}

.taskList__checkbox--done {
    color: white;
}

.taskList__deleteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 20px;
    max-width: 32px;
    padding: 10px;
    aspect-ratio: 1;
    color: white;
    background-color: red;
    margin: 0 10px;
}

.taskList__ul {
    padding: 0;
}