.taskList {
    margin-top: 10px;
    background-color: white;
    min-width: 300px;
    padding: 10px 0 5px 0;
}

.taskList__paragraph {
    margin: 20px 0 0 20px;
    font-size: 20px;
    background-color: white;
    font-weight: 900;
}

.taskList__hr {
    color: rgba(180, 180, 180, 0.267);
}

.taskList__checkbox {
    border: none;
    font-size: 20px;
    padding: 3x;
    margin: 0;
    background-color: green;
    color: green;
}

.taskList__checkbox--done {
    color: white;
}

.taskList__deleteButton {
    margin-right: 10px;
    border: none;
    padding: 3px;
    font-size: 20px;
    float: right;
    color: white;
    background-color: red;
}


.taskList__ul {
    padding: 0;
}

.taskList__item {
    list-style: none;
    padding: 0 20px;
    word-break:break-word;
}

.taskList__item--done {
    text-decoration: line-through;
}

.taskList__hrItem {
    margin: 10px;
    color: rgba(180, 180, 180, 0.267);
}